[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/srcexpl"]
	path = bundle/srcexpl
	url = https://github.com/wesleyche/SrcExpl.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/color.apprentice"]
	path = bundle/color.apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "bundle/color.jellybeans"]
	path = bundle/color.jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
